<!DOCTYPE html>
<html>
<head>
  <title>View Expenses</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <h1>All Expenses</h1>
  <table>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Paid By</th>
    </tr>
    <% expenses.forEach(function(expense) { %>
      <tr>
        <td><%= expense.description %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.paid_by %></td>
      </tr>
    <% }) %>
  </table>
  <a href="/expenses/add">Add New Expense</a>
</body>
</html>
